#first-cont,
#second-cont {
  background-color: #cb9ae6;
}
body {
  background-color: #fff;
  margin: 0;
}

.navbar {
  background-color: #b790b4;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.sub-navbar {
  height: 50px;
  background-color: #cb9ae6;
}

.content {
  height: 400px;
  background-color: #fff;
}
.footer-bar {
  background-color: #cb9ae6;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
